<div class="btn-admin m-3" *ngIf="userIsAdm">
    <!--criar-tag></criar-tag-->
    <add-new-media></add-new-media>
</div>

<div *ngFor="let category of category">
    <div class=" py-2">
        <h3 class="mb-3">{{ category?.categoria | titlecase }}</h3>
        <div class="row">
            <div class="col-2 p-2 my-bg-dark m-1 rounded" *ngFor="let foto of category?.depoimentosFoto">
                <div (click)="openImageView(foto)" style="cursor: pointer; height: 100%;" class="row">
                    <img [src]="'data:image/png;base64,'+foto.data" width="100%" height="auto"
                        class="foto col-12 align-self-center" />
                    <p class="text-center h6 my-2 col align-self-end">{{ foto?.title | titlecase}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade show bg-dark-transparent" [ngClass]="{'show': imageViewOpen}"
    [ngStyle]="{'display': imageViewOpen ? 'block':'none'}" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
    style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{ selectedImageToView?.title }}</h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeImageView()"><i class="bi bi-x"></i></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img [src]="'data:image/png;base64,'+selectedImageToView?.data" width="auto" class="foto-opened" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="closeImageView()">Fechar</button>
            </div>
        </div>
    </div>
</div>