.navbar-rsp-dt{
    background-color: #303030;
    width: 265px;
    -webkit-box-shadow: 10px 0px 24px -2px #000000; 
    box-shadow: 10px 0px 24px -2px #000000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-rsp-mb{
    background-color: #303030;
    display: none;
}

.avatar{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 1px solid #ff6620;
    overflow: hidden;
}

.myIcons{
    font-size: 18px;
}

.myNavItens{
    cursor: pointer;
    color:#d8d8d8;
    font-size: small;
    border-bottom: 2px solid #303030!important;
}

.myNavItens:hover{
    color: #FFFFFF;
}

.myNavItens:hover .myIcons{
    color: #ff6620;
}

.activedRoute{
    color: #FFFFFF;
    border-color: #ff6620!important;
}

.activedRoute .myIcons{
    color:#ff6620;
}
@media (max-width:905px){
    
    .navbar-rsp-dt{
        display:none;
    }
    .navbar-rsp-mb{
        display: block;
    }
}

@media (max-width: 1590px){

    .navbar-rsp-dt{
        width: 183px;
    }

}